APP_ENV=development
DEBUG=false
LOGGING_LEVEL=INFO

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=atlas
POSTGRES_PASSWORD=atlas
POSTGRES_DB=atlas

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
